/*Syntax:
selectors {
  property: value;
}*/

/*3 places to write CSS:
-inline: <element style="property: value;">
-style: <style> ... </style>
-dedicated file: <link>
*/

/*Adjacent sibling*/
h1 + h1 + h1 {
  font-size: 100px;
}

/*Attribute selector*/
[data-category="p-main"] {
  font-size: 90px;
}

.ClassExample {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#IdExample {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*General sibling*/
h2 ~ p {
  color: red;
}

/*Direct Child*/
div > h4 {
  color: pink;
}

/*All descendent*/
div h6 {
  font-size: 50px;
}

/*Active*/
.buttonExample1:active {
  background-color: red;
}

/*Hover*/
.buttonExample2:hover {
  font-size: 30px;
}

/*Visited*/
a:visited {
  color: pink;
}

input:focus {
  border: 5px solid green;
}

/*CSS Box - Model:
-margin
-border
-padding
-content
*/

/*Texts:
color
font
font-family
font-size
font-weight
letter-spacing
line-height
text-align
text-decoration
text-indent
text-transform
vertical-align
*/

.styled-text-example {
  color: red;
  font: italic bold 16px/1.5 Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  text-indent: 50px;
  text-transform: capitalize;
  vertical-align: middle;
}

/*List:
z-index
list-style
list-style-image
list-style-position
list-style-type
*/

/*BACKGROUND:
background
background-attachment
background-color
background-image
background-position
background-repeat
*/

/*DISPLAY:
display
float
clear
overflow
visibility
*/

/*OTHER:
cursor
*/

/*BOX:
border
border-color
border-style
border-width
height
margin
padding
width
box-sizing
*/

/*POSITION:
position
top
bottom
left
right
LIST: z-index
*/
